<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
        <title>THIS
             IS THE TITLE</title>
    </head>

    <form action = "/create_playlist" method = "POST">
        <input type="Submit" value="Create Playlist" name = "playlist">
    </form>
    <form action = "/generate_rec" method = "POST">
        <input type="Submit" value="Generate New Playlist" name = "gennew">
    </form>
    <body>
        <h1 style="text-align: center;">Discover Anytime</h1>
        <body class = "center" style="text-align: center;">

            <table class ="center" style="margin-left:auto;margin-right:auto;">
                <tr>
                    {% for col in column_names %}
                    <th>{{col}}</th>
                    {% endfor %}
                </tr>
                {% for row in row_data %}
                <tr>
                    {% for col, row_ in zip(column_names, row) %}
                    {% if col == image_column %}
                    <td> <img src={{row_}} /></td>
                    {% else %}
                    <td>{{row_}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            
            </table>
        
</body>

    </body>
</html>