<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discover Anytime</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body style="background: rgb(111, 238, 111)">
    <nav class="navbar navbar-dark navbar-expand-lg pl-5 bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="home" >Discover Anytime</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{username}}
              </a>
              <div class="container-fluid">
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Your Spotify Stats</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
                </div>
          </ul>
        </div>
      </div>
    </nav>
    <div>
    <h1 style="text-align: center;">Discover Anytime</h1>
    </div>
    <div class="d-grid gap-2 col-1">
      <button type="button" class="btn btn-primary" id="generate_rec">Create a different Playlist</button>
      <a class="btn btn-primary" href="/create_playlist" id="playlist"> Save Playlist</a>
      </div>
      <div>
    <div class=container>
    <table class ="center table" style="margin-left:auto;margin-right:auto; text-align: center;">
      <tr>
          {% for col in column_names %}
          <th>{{col}}</th>
          {% endfor %}
      </tr>
      {% for row in row_data %}
      <tr class="m-0">
          {% for col, row_ in zip(column_names, row) %}
          {% if col == image_column %}
          <td class="w-25" style="max-width: 1000%;height: auto;"> <img src={{row_}} /></td>
          {% else %}
          <td style="text-align: middle; vertical-align: middle;">{{row_}}</td>
          {% endif %}
          {% endfor %}
      </tr>
      {% endfor %}
  
  </table>
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function() {
      $("#generate_rec").click(function() {
        // disable button
        $(this).prop("disabled", true);
        // add spinner to button
        $(this).html(
          '<i class="spinner-border spinner-border-sm"></i> loading...'
        );
        window.location.href="/generate_rec";
  
      });
  });
    </script>
  </body>
</html>